.img2{
    background-image: url("https://images.ctfassets.net/23aumh6u8s0i/6uBzrqHNLlSAoER6HtgDN0/accd8f871b1de37f472b94da4346afa2/python-hero");
    width: 100vh;
    height: 80vh;
    background-size:100%;
    background-repeat: no-repeat;
    
}