@import url('http://fonts.cdnfonts.com/css/aachen');
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color:aliceblue !important;
   align-items: center;
   font-family: 'Aachen' !important;
     font-style: normal;
     font-weight: 700;
     src: local('Aachen'), url('https://fonts.cdnfonts.com/s/14107/ufonts.com_aachen-bold-opentype.woff') format('woff') !important;
   
    
}
@font-face {
     font-family: 'Aachen';
     font-style: normal;
     font-weight: 700;
     src: local('Aachen'), url('https://fonts.cdnfonts.com/s/14107/ufonts.com_aachen-bold-opentype.woff') format('woff') !important;
 }
.texto{
     color:bisque;
}
.oi{
     height: 100px;
     width: 100px;
}

